extends layout

block content

    #header

    #loginForm
        input#username(type="text", placeholder="Username", name="uname")
        input#password(type="password", placeholder="Password", name="pword")
        button(id='loginbtn') Login
    br

    #body

    #footer
        p © COPYRIGHT 2014 ALL RIGHTS RESERVED. Emergency Messenger System.